@font-face {
  font-family: Kanit;
  src: url('C:/Users/mgrum/code/react-webgame/brickbreaker/public/assets/Kanit-MediumItalic.ttf');
}

* {
  margin: 0;
}

:root {
  --app-width: 800px;
  --app-height: 400px;
}
